Package: vista
Version: 1.0.11.0
Architecture: amd64
Homepage: https://link.coho-apps.dev/go/1005
Section: office
Priority: optional
Maintainer: Sébastien Bouez
Description: Vista
 Vista is a free diagramming application.
